################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/GameJamProject/.vs
/GameJamProject/*.sln
/GameJamProject/DerivedDataCache/
/GameJamProject/Intermediate/
/GameJamProject/Saved/
/GameJamProject/Binaries/
/GameJamProject/Build/
/GameJamProject/Content/AI/NewAnimMontage.uasset
/GameJamProject/Content/AI/NewAnimBlueprint.uasset
/GameJamProject/Content/Levels/LevelStart_BuiltData.uasset
